@use "../variables" as *;
@use "../mixins" as *;

// --- HERO SECTION ---
.hero-wrapper {
  display: flex;
  flex-direction: column;
  background-color: $primary;
  padding-bottom: 150px;
}

.hero {
  flex: 1;
  display: flex;
  align-items: center;
  padding-top: 150px;
  overflow: hidden;
  .row > .col-6:first-child {
    padding: 0;
  }

  &__subtitle {
    margin-bottom: 12px;
  }
  &__title {
    font-size: 6rem;
    line-height: 7rem;
    font-weight: 800;
    margin-bottom: 18px;
  }
  &__desc {
    margin-bottom: 38px;
  }
}

.hero-media {
  position: relative;
  width: 100%;
  max-width: 470px;
  height: 100%;

  &__bg-green {
    position: absolute;
    inset: 0;
    background-color: $tertiary;
    z-index: 1;
  }

  &__bg-yellow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 36.17%;
    height: 88.65%;
    background-color: $accent;
    z-index: 2;
  }

  &__play {
    position: absolute;
    left: 0;
    top: 0;
    translate: -50% -50%;
    width: 100px;
    height: 100px;
    background-color: $black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    z-index: 4;
  }

  &__text-circle {
    position: absolute;
    left: 0;
    top: 0;
    translate: -50% -50%;
    z-index: 4;
    animation: rotate 10s linear infinite;
  }

  &__img {
    display: block;
    margin: 0 auto;
    width: 70.21%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 3;
  }
}

.media__decord--style-1 {
  position: absolute;
  right: -21.28%;
  top: 30%;
  translate: 0 -50%;
  width: 36.37%;
  aspect-ratio: 41/32;
  z-index: 4;
}

// --- ABOUT SECTION ---
.about {
  padding: 100px 0;
  background-color: $black;
  overflow: hidden;

  .row {
    align-items: center;
    > .col-6:first-child {
      padding: 0;
    }
  }

  &__media {
    position: relative;
    max-width: 570px;
  }

  &__img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  &__desc {
    margin-bottom: 28px;
  }
}

.media__decord--style-2 {
  position: absolute;
  right: -8.77%;
  top: 65%;
  translate: 0 -50%;
  width: 20%;
  aspect-ratio: 57/79;
  z-index: 2;
}

.stats {
  display: flex;
  gap: 55px;
  margin-bottom: 38px;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__number {
    font-size: 2.4rem;
    line-height: 3.4rem;
    font-weight: 700;
    color: $white;
  }

  &__label {
    color: $gray;
  }
}

// --- CORE WRAPPER & SERVICES ---
.core-wrapper {
  padding: 150px 0;
}

// --- FEATURES ---
.features {
  overflow: hidden;
  .row {
    align-items: center;
  }
}

.feature-media {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 3.66%;
    height: 40.29%;
    z-index: 1;
  }
  &--deco-top::before {
    background-color: $secondary;
    right: 0;
    top: 0;
  }
  &--deco-bottom::before {
    background-color: $tertiary;
    right: 0;
    bottom: 0;
  }
}

.features__img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.media__decord--style-3 {
  position: absolute;
  left: -8.77%;
  top: 50%;
  translate: 0 -50%;
  width: 21.43%;
  aspect-ratio: 117/129;
  z-index: 2;
}

.media__decord--style-4 {
  position: absolute;
  left: -8.77%;
  top: 50%;
  translate: 0 -50%;
  width: 23.81%;
  aspect-ratio: 130/93;
  z-index: 2;
}

.feature-block {
  &__list {
    list-style: disc;
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 0 0 20px;
  }
  &__item-text {
    font-weight: 500;
  }
  &__desc {
    margin-bottom: 38px;
  }

  & + & {
    margin-top: 150px;
  }
}

// --- TEAM ---
.team {
  padding: 100px 0;
  background-color: $black;

  &-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
  }
  &-bottom {
    text-align: center;
  }
}

.members-list {
  margin-bottom: 55px;
}

// --- AWARDS ---
.awards {
  padding: 100px 0;
  background-color: $primary;

  &-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
  }

  &-card {
    background-color: $white;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    &__img {
      display: block;
      max-width: 60%;
      max-height: 100%;
      object-fit: contain;
    }
  }
}

// --- TESTIMONIALS & FAQ & BLOGS ---
.bottom-wrapper {
  padding: 150px 0;
}

.testimonials {
  padding-bottom: 150px;

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    margin-bottom: 70px;
    .title {
      max-width: 469px;
    }
  }

  &-nav {
    display: flex;
    gap: 20px;
    &__link {
      width: 48px;
      height: 48px;
      background-color: $black;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.3s ease-in-out;
      &:hover {
        background-color: $secondary;
      }
      i {
        color: $white;
      }
    }
  }

  &-avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    margin-bottom: 30px;
  }

  &-info {
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }

  &-name {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 700;
  }

  &-position {
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: $gray;
  }

  &-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 55px;
  }

  &-dot {
    display: block;
    width: 6px;
    height: 6px;
    background-color: $black;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    &:hover,
    &--active {
      background-color: $secondary;
    }
  }
}

// --- FAQ ---
.faq {
  padding-bottom: 150px;
  &-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
  }
  &-tabs {
    display: flex;
    gap: 30px;
  }
  &-tab--active {
    color: $secondary;
  }
}

// --- BLOGS ---
.blogs-top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 70px;
}

@include screen(md) {
  .subtitle {
    margin-bottom: 5px;
  }
  .hero-wrapper {
    padding-bottom: 30px;
  }
  .hero {
    padding-bottom: 150px;
    padding-top: 50px;
  }
  .hero-media {
    margin: 120px auto 0 auto;
  }

  .about {
    padding: 30px 0;
  }
  .about__subtitle {
    margin-bottom: 10px;
  }
  .about__title {
    margin-bottom: 15px;
  }
  .about__desc {
    margin-bottom: 15px;
  }
  .stats {
    margin-bottom: 30px;
  }

  .core-wrapper {
    padding: 50px 0;
  }
  .services {
    margin-bottom: 50px;
  }
  .services-top {
    margin-bottom: 40px;
  }
  .services-title {
    margin-bottom: 10px;
  }
  .services-list {
    margin-bottom: 40px;
  }

  .feature-block__content {
    margin-bottom: 30px;
  }
  .feature-block + .feature-block {
    margin-top: 50px;
  }
  .feature-block__list {
    margin-top: 20px;
  }
  .feature-block__desc {
    margin-bottom: 20px;
  }

  .team {
    padding: 50px 0;
  }
  .team-top {
    margin-bottom: 40px;
  }
  .team-title {
    margin-bottom: 15px;
  }
  .members-list {
    margin-bottom: 40px;
  }

  .awards {
    padding: 50px 0;
  }
  .awards-top {
    margin-bottom: 40px;
  }

  .bottom-wrapper {
    padding: 50px 0;
  }
  .testimonials {
    padding-bottom: 50px;
  }
  .testimonials-top {
    margin-bottom: 40px;
  }
  .testimonials-nav {
    display: none;
  }
  .testimonials-dots {
    margin-top: 40px;
  }

  .faq {
    padding-bottom: 50px;
  }
  .faq-title {
    margin-bottom: 10px;
  }
  .faq-top {
    margin-bottom: 40px;
  }

  .blogs-top {
    margin-bottom: 40px;
  }
  .blogs-intro {
    flex: 1;
  }
  .blogs-desc {
    max-width: none;
  }
  .blogs-bottom {
    margin-top: 40px;
    text-align: center;
  }
}
