<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>About</title>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <h1>About Us</h1>
    <p>
      We are a team of passionate developers dedicated to creating amazing web
      applications. Our mission is to deliver high-quality software that meets
      the needs of our users and exceeds their expectations.
    </p>
  </body>
  <script
    type="module"
    src="./main.js"
  ></script>
</html>
