<!doctype html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <main class="blog-page">
      <div class="hero-wrapper">
        <!-- Header -->
        <%- include('./partials/header.ejs') %>
      </div>
      <!-- Blog Section -->
      <section class="blog">
        <div class="container">
          <!-- Blog Content -->
          <div class="blog__content">
            <h1 class="blog__title title">Justice Law Firm Press Releases</h1>
          </div>
          <!-- Navigation -->
          <div class="blog__nav">
            <ul class="blog__nav-list">
              <li class="blog__nav-item">
                <a
                  href="#"
                  class="blog__nav-link"
                  >All</a
                >
              </li>
              <li class="blog__nav-item">
                <a
                  href="#"
                  class="blog__nav-link"
                  >Recent</a
                >
              </li>
              <li class="blog__nav-item">
                <a
                  href="#"
                  class="blog__nav-link"
                  >Popular</a
                >
              </li>
              <li class="blog__nav-item">
                <a
                  href="#"
                  class="blog__nav-link"
                  >Trending</a
                >
              </li>
              <li class="blog__nav-item">
                <a
                  href="#"
                  class="blog__nav-link"
                  >Oldest</a
                >
              </li>
            </ul>
          </div>
          <!-- Blogs List -->
          <div class="row row-cols-3 row-cols-md-1 gy-md-3">
            <!-- Blog 1 -->
            <div class="col">
              <div class="blog-card">
                <!-- Blog Image -->
                <a
                  href="#!"
                  class="blog-card__media-link"
                >
                  <img
                    src="/asset/img/index/img-blog-1.png"
                    alt="Blog-1"
                    class="blog-card__img"
                  />
                </a>
                <!-- Blog Media -->
                <div class="blog-card__media">
                  <img
                    src="/asset/img/index/img-blog-avatar-1.png"
                    alt="Mitchell Starc"
                    class="blog-card__avatar"
                  />
                  <!-- Blog Info -->
                  <div class="blog-card__info">
                    <span class="blog-card__author">Mitchell Starc</span>
                    <span class="blog-card__position">Attorney at Law</span>
                  </div>
                </div>
                <!-- Blog Title -->
                <a
                  class="blog-card__title"
                  href="#!"
                >
                  5 Key Rules of Law in Our Society Must Know in 2022
                </a>
                <!-- Blog Link -->
                <a
                  href="#!"
                  class="blog-card__link"
                  >Learn More</a
                >
              </div>
            </div>
            <!-- Blog 2 -->
            <div class="col">
              <div class="blog-card">
                <!-- Blog Image -->
                <a
                  href="#!"
                  class="blog-card__media-link"
                >
                  <img
                    src="/asset/img/index/img-blog-2.png"
                    alt="Blog-2"
                    class="blog-card__img"
                  />
                </a>
                <!-- Blog Media -->
                <div class="blog-card__media">
                  <!-- Blog Avatar -->
                  <img
                    src="/asset/img/index/img-blog-avatar-1.png"
                    alt="Mitchell Starc"
                    class="blog-card__avatar"
                  />
                  <!-- Blog Info -->
                  <div class="blog-card__info">
                    <span class="blog-card__author">Mitchell Starc</span>
                    <span class="blog-card__position">Attorney at Law</span>
                  </div>
                </div>
                <!-- Blog Title -->
                <a
                  class="blog-card__title"
                  href="#!"
                >
                  5 Key Rules of Law in Our Society Must Know in 2022
                </a>
                <!-- Blog Link -->
                <a
                  href="#!"
                  class="blog-card__link"
                  >Learn More</a
                >
              </div>
            </div>
            <!-- Blog 3 -->
            <div class="col">
              <div class="blog-card">
                <!-- Blog Image -->
                <a
                  href="#!"
                  class="blog-card__media-link"
                >
                  <img
                    src="/asset/img/index/img-blog-3.png"
                    alt="Blog-3"
                    class="blog-card__img"
                  />
                </a>
                <!-- Blog Media -->
                <div class="blog-card__media">
                  <!-- Blog Avatar -->
                  <img
                    src="/asset/img/index/img-blog-avatar-1.png"
                    alt="Mitchell Starc"
                    class="blog-card__avatar"
                  />
                  <!-- Blog Info -->
                  <div class="blog-card__info">
                    <span class="blog-card__author">Mitchell Starc</span>
                    <span class="blog-card__position">Attorney at Law</span>
                  </div>
                </div>
                <!-- Blog Title -->
                <a
                  class="blog-card__title"
                  href="#!"
                >
                  5 Key Rules of Law in Our Society Must Know in 2022
                </a>
                <!-- Blog Link -->
                <a
                  href="#!"
                  class="blog-card__link"
                  >Learn More</a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Newsletter Section -->
      <section class="newsletter">
        <div class="container">
          <!-- Newsletter Content -->
          <div class="newsletter__content">
            <h3 class="subtitle subtitle--white">#Newsletter</h3>
            <h2 class="newsletter__title title title--white">
              Subscribe Our Newsletter
            </h2>
          </div>
          <!-- Newsletter Form -->
          <form class="newsletter__form">
            <input
              type="email"
              placeholder="Enter your email"
              class="newsletter__input"
            />
            <button class="btn btn--primary btn--small">Subscribe</button>
          </form>
          <div class="newsletter__message">
            <p class="desc desc--white">
              The latest Law News.
              <a
                href="#!"
                class="newsletter__link"
              >
                Straight to your inbox</a
              >
            </p>
          </div>
        </div>
      </section>
      <!-- View Blog -->
      <section class="view-blog">
        <div class="container">
          <div class="row row-cols-3 g-3 row-cols-md-1 gy-md-3">
            <!-- Blog 1 -->
            <div class="col">
              <div class="blog-card">
                <!-- Blog Image -->
                <a
                  href="#!"
                  class="blog-card__media-link"
                >
                  <img
                    src="/asset/img/index/img-blog-1.png"
                    alt="Blog-1"
                    class="blog-card__img"
                  />
                </a>
                <!-- Blog Media -->
                <div class="blog-card__media">
                  <img
                    src="/asset/img/index/img-blog-avatar-1.png"
                    alt="Mitchell Starc"
                    class="blog-card__avatar"
                  />
                  <!-- Blog Info -->
                  <div class="blog-card__info">
                    <span class="blog-card__author">Mitchell Starc</span>
                    <span class="blog-card__position">Attorney at Law</span>
                  </div>
                </div>
                <!-- Blog Title -->
                <a
                  class="blog-card__title"
                  href="#!"
                >
                  5 Key Rules of Law in Our Society Must Know in 2022
                </a>
                <!-- Blog Link -->
                <a
                  href="#!"
                  class="blog-card__link"
                  >Learn More</a
                >
              </div>
            </div>
            <!-- Blog 2 -->
            <div class="col">
              <div class="blog-card">
                <!-- Blog Image -->
                <a
                  href="#!"
                  class="blog-card__media-link"
                >
                  <img
                    src="/asset/img/index/img-blog-2.png"
                    alt="Blog-2"
                    class="blog-card__img"
                  />
                </a>
                <!-- Blog Media -->
                <div class="blog-card__media">
                  <!-- Blog Avatar -->
                  <img
                    src="/asset/img/index/img-blog-avatar-1.png"
                    alt="Mitchell Starc"
                    class="blog-card__avatar"
                  />
                  <!-- Blog Info -->
                  <div class="blog-card__info">
                    <span class="blog-card__author">Mitchell Starc</span>
                    <span class="blog-card__position">Attorney at Law</span>
                  </div>
                </div>
                <!-- Blog Title -->
                <a
                  class="blog-card__title"
                  href="#!"
                >
                  5 Key Rules of Law in Our Society Must Know in 2022
                </a>
                <!-- Blog Link -->
                <a
                  href="#!"
                  class="blog-card__link"
                  >Learn More</a
                >
              </div>
            </div>
            <!-- Blog 3 -->
            <div class="col">
              <div class="blog-card">
                <!-- Blog Image -->
                <a
                  href="#!"
                  class="blog-card__media-link"
                >
                  <img
                    src="/asset/img/index/img-blog-3.png"
                    alt="Blog-3"
                    class="blog-card__img"
                  />
                </a>
                <!-- Blog Media -->
                <div class="blog-card__media">
                  <!-- Blog Avatar -->
                  <img
                    src="/asset/img/index/img-blog-avatar-1.png"
                    alt="Mitchell Starc"
                    class="blog-card__avatar"
                  />
                  <!-- Blog Info -->
                  <div class="blog-card__info">
                    <span class="blog-card__author">Mitchell Starc</span>
                    <span class="blog-card__position">Attorney at Law</span>
                  </div>
                </div>
                <!-- Blog Title -->
                <a
                  class="blog-card__title"
                  href="#!"
                >
                  5 Key Rules of Law in Our Society Must Know in 2022
                </a>
                <!-- Blog Link -->
                <a
                  href="#!"
                  class="blog-card__link"
                  >Learn More</a
                >
              </div>
            </div>
            <!-- Blog 4 -->
            <div class="col d-block d-md-none">
              <div class="blog-card">
                <!-- Blog Image -->
                <a
                  href="#!"
                  class="blog-card__media-link"
                >
                  <img
                    src="/asset/img/index/img-blog-3.png"
                    alt="Blog-3"
                    class="blog-card__img"
                  />
                </a>
                <!-- Blog Media -->
                <div class="blog-card__media">
                  <!-- Blog Avatar -->
                  <img
                    src="/asset/img/index/img-blog-avatar-1.png"
                    alt="Mitchell Starc"
                    class="blog-card__avatar"
                  />
                  <!-- Blog Info -->
                  <div class="blog-card__info">
                    <span class="blog-card__author">Mitchell Starc</span>
                    <span class="blog-card__position">Attorney at Law</span>
                  </div>
                </div>
                <!-- Blog Title -->
                <a
                  class="blog-card__title"
                  href="#!"
                >
                  5 Key Rules of Law in Our Society Must Know in 2022
                </a>
                <!-- Blog Link -->
                <a
                  href="#!"
                  class="blog-card__link"
                  >Learn More</a
                >
              </div>
            </div>
            <!-- Blog 5 -->
            <div class="col d-block d-md-none">
              <div class="blog-card">
                <!-- Blog Image -->
                <a
                  href="#!"
                  class="blog-card__media-link"
                >
                  <img
                    src="/asset/img/index/img-blog-3.png"
                    alt="Blog-3"
                    class="blog-card__img"
                  />
                </a>
                <!-- Blog Media -->
                <div class="blog-card__media">
                  <!-- Blog Avatar -->
                  <img
                    src="/asset/img/index/img-blog-avatar-1.png"
                    alt="Mitchell Starc"
                    class="blog-card__avatar"
                  />
                  <!-- Blog Info -->
                  <div class="blog-card__info">
                    <span class="blog-card__author">Mitchell Starc</span>
                    <span class="blog-card__position">Attorney at Law</span>
                  </div>
                </div>
                <!-- Blog Title -->
                <a
                  class="blog-card__title"
                  href="#!"
                >
                  5 Key Rules of Law in Our Society Must Know in 2022
                </a>
                <!-- Blog Link -->
                <a
                  href="#!"
                  class="blog-card__link"
                  >Learn More</a
                >
              </div>
            </div>
            <!-- Blog 6 -->
            <div class="col d-block d-md-none">
              <div class="blog-card">
                <!-- Blog Image -->
                <a
                  href="#!"
                  class="blog-card__media-link"
                >
                  <img
                    src="/asset/img/index/img-blog-3.png"
                    alt="Blog-3"
                    class="blog-card__img"
                  />
                </a>
                <!-- Blog Media -->
                <div class="blog-card__media">
                  <!-- Blog Avatar -->
                  <img
                    src="/asset/img/index/img-blog-avatar-1.png"
                    alt="Mitchell Starc"
                    class="blog-card__avatar"
                  />
                  <!-- Blog Info -->
                  <div class="blog-card__info">
                    <span class="blog-card__author">Mitchell Starc</span>
                    <span class="blog-card__position">Attorney at Law</span>
                  </div>
                </div>
                <!-- Blog Title -->
                <a
                  class="blog-card__title"
                  href="#!"
                >
                  5 Key Rules of Law in Our Society Must Know in 2022
                </a>
                <!-- Blog Link -->
                <a
                  href="#!"
                  class="blog-card__link"
                  >Learn More</a
                >
              </div>
            </div>
            <!-- Blog 7 -->
            <div class="col d-block d-md-none">
              <div class="blog-card">
                <!-- Blog Image -->
                <a
                  href="#!"
                  class="blog-card__media-link"
                >
                  <img
                    src="/asset/img/index/img-blog-3.png"
                    alt="Blog-3"
                    class="blog-card__img"
                  />
                </a>
                <!-- Blog Media -->
                <div class="blog-card__media">
                  <!-- Blog Avatar -->
                  <img
                    src="/asset/img/index/img-blog-avatar-1.png"
                    alt="Mitchell Starc"
                    class="blog-card__avatar"
                  />
                  <!-- Blog Info -->
                  <div class="blog-card__info">
                    <span class="blog-card__author">Mitchell Starc</span>
                    <span class="blog-card__position">Attorney at Law</span>
                  </div>
                </div>
                <!-- Blog Title -->
                <a
                  class="blog-card__title"
                  href="#!"
                >
                  5 Key Rules of Law in Our Society Must Know in 2022
                </a>
                <!-- Blog Link -->
                <a
                  href="#!"
                  class="blog-card__link"
                  >Learn More</a
                >
              </div>
            </div>
            <!-- Blog 8 -->
            <div class="col d-block d-md-none">
              <div class="blog-card">
                <!-- Blog Image -->
                <a
                  href="#!"
                  class="blog-card__media-link"
                >
                  <img
                    src="/asset/img/index/img-blog-3.png"
                    alt="Blog-3"
                    class="blog-card__img"
                  />
                </a>
                <!-- Blog Media -->
                <div class="blog-card__media">
                  <!-- Blog Avatar -->
                  <img
                    src="/asset/img/index/img-blog-avatar-1.png"
                    alt="Mitchell Starc"
                    class="blog-card__avatar"
                  />
                  <!-- Blog Info -->
                  <div class="blog-card__info">
                    <span class="blog-card__author">Mitchell Starc</span>
                    <span class="blog-card__position">Attorney at Law</span>
                  </div>
                </div>
                <!-- Blog Title -->
                <a
                  class="blog-card__title"
                  href="#!"
                >
                  5 Key Rules of Law in Our Society Must Know in 2022
                </a>
                <!-- Blog Link -->
                <a
                  href="#!"
                  class="blog-card__link"
                  >Learn More</a
                >
              </div>
            </div>
            <!-- Blog 9 -->
            <div class="col d-block d-md-none">
              <div class="blog-card">
                <!-- Blog Image -->
                <a
                  href="#!"
                  class="blog-card__media-link"
                >
                  <img
                    src="/asset/img/index/img-blog-3.png"
                    alt="Blog-3"
                    class="blog-card__img"
                  />
                </a>
                <!-- Blog Media -->
                <div class="blog-card__media">
                  <!-- Blog Avatar -->
                  <img
                    src="/asset/img/index/img-blog-avatar-1.png"
                    alt="Mitchell Starc"
                    class="blog-card__avatar"
                  />
                  <!-- Blog Info -->
                  <div class="blog-card__info">
                    <span class="blog-card__author">Mitchell Starc</span>
                    <span class="blog-card__position">Attorney at Law</span>
                  </div>
                </div>
                <!-- Blog Title -->
                <a
                  class="blog-card__title"
                  href="#!"
                >
                  5 Key Rules of Law in Our Society Must Know in 2022
                </a>
                <!-- Blog Link -->
                <a
                  href="#!"
                  class="blog-card__link"
                  >Learn More</a
                >
              </div>
            </div>
          </div>
          <!-- Blog Pagination -->
          <div class="view-blog__pagination">
            <ul class="view-blog__pagination-list">
              <li class="view-blog__pagination-item">
                <a
                  href="#!"
                  class="view-blog__pagination-link"
                  >1</a
                >
              </li>
              <li class="view-blog__pagination-item">
                <a
                  href="#!"
                  class="view-blog__pagination-link"
                  >2</a
                >
              </li>
              <li class="view-blog__pagination-item">
                <a
                  href="#!"
                  class="view-blog__pagination-link"
                  >3</a
                >
              </li>
              <li class="view-blog__pagination-item">
                <a
                  href="#!"
                  class="view-blog__pagination-link"
                  >4</a
                >
              </li>
              <li class="view-blog__pagination-item">
                <a
                  href="#!"
                  class="view-blog__pagination-link"
                  >5</a
                >
              </li>
            </ul>
          </div>
        </div>
      </section>
      <!-- Footer -->
      <%- include('./partials/footer.ejs') %>
    </main>
    <script
      type="module"
      src="./main.js"
    ></script>
  </body>
</html>
