$grid-breakpoints: (
  xxl: 1400px,
  xl: 1200px,
  lg: 992px,
  md: 768px,
  sm: 576px,
);

$heading-font: "Roboto Slab", serif;
$body-font: "Manrope", sans-serif;

$black: #0e1412;
$white: #fff;
$primary: #f8ebc9;
$secondary: #fd6038;
$tertiary: #017848;
$accent: #fed464;
$gray: #586863;
